<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VasIosSdk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VasSdk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VasSdkDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VasSdkTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D07B2C641CB7493D0014F39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07B2C781CB7493D0014F39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07B2C831CB7493D0014F39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07B2C9A1CB749E40014F39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07B2CA31CB749E40014F39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07B2CC91CB74BDD0014F39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07B2CD21CB74BDE0014F39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07B2CFC1CB760560014F39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07B2D051CB760560014F39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
